.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build

 # Android Studio beta struggles with library projects outside the root directory; the workaround means this file changes every time, so we ignore it
app/dualqrscanner-app.iml
