.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build

 # Android Studio struggles with library projects outside the root directory; the workaround means these files change every time, so we ignore them

app/dualqrscanner-app.iml
